.tiles-container{
    box-sizing: border-box;
    background-color: #e5eae9;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow-y: auto;
    height: 675px;
    width: 350px;
    margin: 5px 1em;

    position: relative;
}