.add-task-form {
    width: 25%;
    min-width: 300px;
    border-radius: 0;
    flex: 1 0 auto;
    position: absolute;
    z-index: 5;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  padding-top: 10px;
}

.back {
  border-radius: 50%;
  padding: 10px;
}

.back:hover {
  background-color: #EF7479;
  cursor: pointer;
}

.sbmt-btn {
  border-color: white;
}

.sbmt-btn:focus {
  background-color: #ef7479;
}

.datepicker-btn {
  border-color: white;
}

#due-date {
  padding: 1.4rem;
}

.custom-day {
  color: grey;
  font-size: 90%;
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
}

.custom-day:hover,
.custom-day.focused {
  background-color: #e6e6e6;
}

.toggle {
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50px;
  height: 50px;
}

