.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    padding-top: 10px;
}
.back{
    border-radius: 50%;
    padding: 10px;
}

.back:hover{
    background-color: #EF7479;
    cursor: pointer;
}

.sbmt-btn{
    border-color: white;
}

