<div class="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TASK MANAGER</a>
  </nav>

  <div class="main-content">
    <div class="toggle-btns">
      <button *ngIf="isFormCollapsed" class="btn btn-secondary toggle" (click)="toggleForm()">
        <i class="material-icons">add</i>
      </button>
  
      <button *ngIf="isFormCollapsed" class="btn btn-primary toggle" (click)="addTask()">
        <i class="material-icons">add</i>
      </button>

      <button *ngIf="isFormCollapsed" class="btn btn-primary toggle" (click)="getTasks()">
        <i class="material-icons">list</i>
      </button>
    </div>
    <app-add-task-form [show]="!isFormCollapsed" (collapse)="toggleForm()" (addTaskSuccess)="fetchTasks()"></app-add-task-form>
    <div class="tiles-wrapper">
      <app-tiles-container-wrapper [tasks]="tasks"></app-tiles-container-wrapper>  
    </div>      
  </div>

</div>
