<div class="app" [ngClass]="{'form-expanded': !isFilterFormCollapsed}">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TASK MANAGER</a>
  </nav>

  <ngx-spinner 
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "large"
    color = "#f3969a"
    type = "ball-beat">
  </ngx-spinner>

  <div class="main-content">
    <div class="toggle-btns">
      <button *ngIf="isAddFormCollapsed" class="btn btn-secondary toggle" (click)="toggleForm($event)">
        <i class="material-icons">add</i>
      </button>
  
      <button *ngIf="isFilterFormCollapsed" class="btn btn-primary toggle" (click)="onFilterBtnClicked($event)">
        <i class="material-icons">filter_list</i>
      </button>
    </div>
    <app-add-task-form 
        (clickOutside)="onClickedOutside($event)" 
        [clickOutsideEnabled]="!isAddFormCollapsed" 
        [show]="!isAddFormCollapsed" 
        (collapse)="onClickedOutside()" 
        (addTaskSuccess)="fetchTasks()">
    </app-add-task-form>
    <app-filter-task-form 
      [show]="!isFilterFormCollapsed" 
      (collapse)="collapseFilterForm()" 
      (addTaskSuccess)="fetchTasks()"
      (change)="onChangeTaskFilter($event)">
    </app-filter-task-form>
    <div class="tiles-wrapper" [ngClass]="{'shrink': !isFilterFormCollapsed}">
      <app-tiles-container-wrapper [tasks]="filteredTasks"></app-tiles-container-wrapper>  
    </div>      
  </div>
  <div class="errors">
    <div [@visibility]="'in'" *ngFor="let error of errors$ | async; index as i" class="alert alert-dismissible alert-danger">
      <button type="button" (click)="removeAlert(i)" class="close" data-dismiss="alert">&times;</button>
      {{error}}
    </div>
  </div>
</div>
