.tile{
    width: 400px;
    height: 200px;
    margin: 5px;
    border-radius: 0;
    z-index: 3;
    cursor: grab;
}

.tile .card-header{
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: auto;
}

.date-n-init{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.card-body{
    height: 60%;
    display: flex;
    flex-flow: column nowrap;
}

.description{
    height: 80%;
    overflow: auto;
}

