<div draggable [dragData]="task" class="tile card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">
    <div class="title" [title]="task.title">{{task.title | uppercase}}</div>
    <div class="menu">
        <button type="button" (click)="toggleDropdown($event)" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">more_vert</i>
        </button>
        <div class="dropdown-menu" (clickOutside)="onClickedOutside($event)" [clickOutsideEnabled]="showDropdown" [ngClass]="{'show': showDropdown}">
          <div class="dropdown-item" onClick="onEditTask()">Edit task</div>
          <div class="dropdown-item" onClick="onDeleteTask()">Delete task</div>
        </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text description">
      {{task.description}}
    </div>
  </div>
  <div class="card-footer">
      <span *ngFor="let tag of task.tags" class="badge badge-light">{{tag}}</span>
  </div>
</div>
