.tile{
    width: 400px;
    height: 200px;
    margin: 5px;
    border-radius: 0;
    z-index: 3;
    cursor: grab;
}

.tile .card-header{
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: auto;
}

.date-n-init {
    position: absolute;
    right: 0.5rem;
    top: 0.2rem;
}

.dropdown-menu {
    left: auto;
    right: 0;
}
.card-body{
    height: 60%;
    display: flex;
    flex-flow: column nowrap;
}

.description{
    height: 80%;
    overflow: auto;
}

.date-n-init > .btn > .material-icons {
    font-size: 1.5rem;
    position: relative;
    top: 0.2rem;
}

.date-n-init > .btn{
    padding: 0 !important;
}
