<div class="modal" [ngClass]="{'show': show}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{title}}</h5>
          <button type="button" (click)="onClose($event)" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-content></ng-content>
        </div>
        <div *ngIf="showBtns" class="modal-footer">
          <button type="button" (click)="onClickCancel($event)" class="btn btn-secondary" data-dismiss="modal">{{cancelBtn || 'Cancel'}}</button>
          <button type="button" (click)="onClickConfirm($event)" class="btn btn-primary">{{confirmBtn || 'Confirm'}}</button>
        </div>
      </div>
    </div>
  </div>