/* You can add global styles to this file, and also import other style files */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(134, 216, 193); 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(104, 167, 149);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 228, 204); 
    cursor: pointer;
}

* {
    box-sizing: border-box;
}


/* Draggable*/

.drag-border {
    border: #95eec9 dashed 4px;
    background-color: #a6e4d4 !important;
}

.drag-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-handle:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    opacity: 1;
}

/* Droppable */

.drag-hint-border {
    border: #929e9b dashed 4px;
}

.drag-over-border {
    border: #EF7479 dashed 4px;
}

.drag-transit {
    border: #74bca8 dashed 4px;
    background-color: #74bca8 !important;
}